<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated BookPublication -->
      <package
            uri="http://publication"
            class="org.emfviews.examples.Publication.PublicationPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated BookPublication -->
      <package
            uri="http://book"
            class="org.emfviews.examples.Book.BookPackage"/>
   </extension>

</plugin>
